.logo {
    width: 922px;
    height: 66px;
}

.logo .overlap-group {
    position: relative;
    width: 1051px;
    height: 125px;
    top: -24px;
    left: -55px;
}

#rectangle {
    width: 304px;
    left: 53px;
    background-color: var(--bleu-viennois);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#div {
    width: 66px;
    left: 353px;
    background-color: var(--bleu-victorieux);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#rectangle-2 {
    width: 118px;
    left: 415px;
    background-color: var(--bleu-viennois);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#rectangle-3 {
    width: 304px;
    left: 703px;
    background-color: var(--bleu-viennois);
    transform: rotate(180deg);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#rectangle-4 {
    width: 66px;
    left: 641px;
    background-color: var(--bleu-victorieux);
    transform: rotate(180deg);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#rectangle-5 {
    width: 116px;
    left: 529px;
    background-color: var(--bleu-viennois);
    transform: rotate(180deg);
    position: absolute;
    height: 66px;
    top: 24px;
    border: 4px solid;
    border-color: #ffffff;
}

#score-l-num {
    left: 417px;
    position: absolute;
    width: 68px;
    height: 32px;
    top: 40px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#text-wrapper-2 {
    left: 364px;
    position: absolute;
    width: 44px;
    height: 32px;
    top: 47px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#score-r-num {
    left: 575px;
    position: absolute;
    width: 68px;
    height: 32px;
    top: 40px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#set-label-l {
    left: 360px;
    position: absolute;
    width: 51px;
    height: 10px;
    top: 36px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#text-wrapper-5 {
    left: 652px;
    position: absolute;
    width: 44px;
    height: 32px;
    top: 47px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#set-label-r {
    left: 648px;
    position: absolute;
    width: 51px;
    height: 10px;
    top: 36px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#team-l-name {
    position: absolute;
    width: 233px;
    height: 32px;
    top: 40px;
    left: 111px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

#service {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 42px;
    left: 312px;
    background-color: var(--jaune-viennois);
    border-radius: 15px;
}

#team-r-name {
    position: absolute;
    width: 233px;
    height: 32px;
    top: 40px;
    left: 716px;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.image {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 2px;
    left: 0;
}

.image-traced {
    position: absolute;
    width: 95px;
    height: 117px;
    top: 0;
    left: 956px;
}

.img {
    position: absolute;
    width: 90px;
    height: 107px;
    top: 4px;
    left: 960px;
    object-fit: cover;
}

.vector {
    position: absolute;
    width: 100px;
    height: 118px;
    top: 7px;
    left: 480px;
}
